{% extends 'base.html' %}
{% block body_content %}

    <div style="margin-top: 100px" class="container">
        <div class="row-fluid">
            <div class="span12">
                <div style="text-align: center" class="index-text">
                    <img src="http://www.bikyle.com/images/Zipp/Zipp404Whls.jpg"></img>
                    <h1>404 page not found! Try going back and entering the numerical ID of your club.</h1>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
