<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Strava Club LeaderBoards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}} " rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-responsive.css')}} " rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_header %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
       <a class="brand" href="/">Strava Club Leaderboards</a>
     </div>
     </div>
   </nav>
    {% block body_content %}{% endblock %}
    <footer>{% block footer_content %}{% endblock %}</footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $mostClimbing = $('#climbing-bg');
            $mostDistance = $('#distance-bg');
            $mostAvgClimbing = $('#avg-climbing-bg');
            $mostRides = $('#rides-bg');

            $mostClimbing.click(function(){
                console.log('hmm');
                $('#ranked-by-elevation').show();
                $('#ranked-by-distance').hide();
                $('#ranked-by-avg-climbing').hide();
                $('#ranked-by-rides').hide();
                $mostClimbing.css("background", "#ffffff");
                $mostAvgClimbing.css("background", "#DF4418");
                $mostDistance.css("background", "#DF4418");
                $mostRides.css("background", "#DF4418");
            });

            $mostDistance.click(function(){
                $('#ranked-by-elevation').hide();
                $('#ranked-by-distance').show();
                $('#ranked-by-avg-climbing').hide();
                $('#ranked-by-rides').hide();
                $mostClimbing.css("background", "#DF4418");
                $mostAvgClimbing.css("background", "#DF4418");
                $mostDistance.css("background", "#ffffff");
                $mostRides.css("background", "#DF4418");
            });

            $mostAvgClimbing.click(function(){
                $('#ranked-by-elevation').hide();
                $('#ranked-by-distance').hide();
                $('#ranked-by-avg-climbing').show();
                $('#ranked-by-rides').hide();
                $mostClimbing.css("background", "#DF4418");
                $mostAvgClimbing.css("background", "#ffffff");
                $mostDistance.css("background", "#DF4418");
                $mostRides.css("background", "#DF4418");
            });

            $mostRides.click(function(){
                $('#ranked-by-elevation').hide();
                $('#ranked-by-distance').hide();
                $('#ranked-by-avg-climbing').hide();
                $('#ranked-by-rides').show();
                $mostClimbing.css("background", "#DF4418");
                $mostAvgClimbing.css("background", "#DF4418");
                $mostDistance.css("background", "#DF4418");
                $mostRides.css("background", "#ffffff");
            });
        });
    </script>
</body>
</html>
