{% extends 'base.html' %}
{% block body_content %}

    <div style="margin-top: 100px" class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="index-text">
                    <h1>Find out who is the most awesome member of your Strava club.</h1>
                    <h3 style="text-align: center" class="lede">Compare yourself based on average and total climbing, as well as distance and ride count.</h3>
                    <form method="POST" action="/" class="form-inline" id="club-search">
                        <div class="input-prepend">
                            <span class="add-on">http://app.strava.com/clubs/</span>
                            <input id="club_id" name="club_id" style="height: 10px" class="span5" size="16" placeholder="Club ID">
                        </div> 
                        <button type="submit" class="btn">Go</button>
                            <span style="" class="help-block">e.g. <a style="color: blue" href="http://strava-app.heroku.com/club/cornell-cycling">http://strava-app.heroku.com/clubs/cornell-cycling</a></span>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
